    .recipes {
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.recipes__title {
  max-width: 580px;
  color: #ffffff;
  position: relative;
  margin: 0 auto auto 80px;
  padding-top: 100px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  position: relative;
  color: #ffffff;
  max-width: 438px;
  left: 80px;
  padding-top: 24px;
  margin: 0%;
  font-family: "noto serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  padding-top: 80px;
  display: flex;
  gap: 40px;
  padding-bottom: 215px;
  justify-content: center;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  color: white;
}

.recipes__video-caption {
  display: flex;
  color: #ffffff;
  justify-content: space-between;
  margin-top: 24px;
}

.recipes__iframe-wrap {
  margin: 0;
}