.reservation {
  background-image: url(../images/background_reservation.svg);
  background-color: #d9e7ff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  padding-bottom: 120px;
}

.reservation__form {
  margin: auto;
}

.reservation__title {
  margin-bottom: 80px;
  margin-top: 0;
  text-align: center;
  font-family: "Inter", arial, sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}
